@define-placeholder xIcon {
    background-image: url(../assets/icons/react-icon.svg);
}

.xButton {
@extend xIcon;
    width: 64px;
    height: 64px;
    display: inline-block;
}

.xButton-large {
@extend xIcon;
    width: 164px;
    height: 164px;
    display: inline-block;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
}
