@define-placeholder SlidingMenu {
    background-color: #000000;
    box-sizing: border-box;
    opacity: 0.8;
    position: fixed;
    transition: transform ease 500ms;
    z-index: 2;
    width: 100%;
}

.SlidingMenuTop {
@extend SlidingMenu;
    height: 20px;
    width: 100%;
}

.SlidingMenuTop.is-hidden {
    top: -20px;
}

.SlidingMenuTop.is-visible {
    top: -20px;
    transform: translate3d(0, 20px, 0);
}

.SlidingMenuBottom {
@extend SlidingMenu;
    height: 200px;
    width: 100%;
}

.SlidingMenuBottom.is-hidden {
    bottom: -200px;
}

.SlidingMenuBottom.is-visible {
    bottom: -200px;
    transform: translate3d(0, -200px, 0);
}

.SlidingMenuLeft {
@extend SlidingMenu;
    height: 100%;
    width: 200px;
}

.SlidingMenuLeft.is-hidden {
    left: -200px;
}

.SlidingMenuLeft.is-visible {
    transform: translate3d(200px, 0, 0);
}

