@define-placeholder  SnapView {
    transform: translateZ(0px);
    position: absolute;
    top: 0;
    height:100%;
    width:100%;
    left: 0%;
}

.SnapView {
    transform: translateZ(0px);
    position: absolute;
    top: 0;
    height:100%;
    width:100%;
    left: 0%;
}

.SnapView.is-left {
@extend SnapView;
    left: -100%;
}

.SnapView.is-center {
@extend SnapView;
    left: 0%;
}

.SnapView.is-right {
@extend SnapView;
    left: 100%;
}

.SnapView img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
}